/* You can add global styles to this file, and also import other style files */
:root {
  --green-500: #5CB85C;
  --green-600: #3C763D;

  --red-500: #BA0000;
  --red-600: #8C1010;

  --gray-500: #808080;
  --gray-700: #292929;
  --gray-800: #141414;
}
